# Compiled class file
*.class

# Log file
*.log

# Package exclusions with exceptions
*.tgz
!generic-postgres-backend-*.tgz  # Exception pour le package Helm

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs
hs_err_pid*
replay_pid*

# Environment and secrets
.env
*.env
*secret*.sh
!scripts/create-secret-script.sh

# Ne pas ignorer le fichier values.yaml
!values.yaml